.container{max-width: 1100px; margin: 0 auto;}

.header-bg{
    background-color: #ffc045;
}

.main-header{
    display: flex;
    justify-content: space-between;
    height: 135px;
    align-items: center;
}

#header-logo{
    max-width: 265px;
    height: 57px;
    display: flex;
    align-items: center;
    background-color: #ffc045;
}

.header-right{
    height: 85px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    a{
        color: #3d2514;
        text-decoration: none;
    }
}

.delivery{
    display: flex;
    justify-content: end;

    a{
        font: 700 17px "Montserrat";
    }
}

.header-nav{
    width: 480px;
    display: flex;
    justify-content: space-between;

    a{
        font: 700 21px "Bebas Neue";
        letter-spacing: 4px;
    }
}

/*header-main*/

.main1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 900px;
}

.main1-left{
    width: 400px;
    color: #3d2514;
    
    p{
        font: 400 24px "Bebas Neue";
        color: #3d2514;
        padding: 10px 15px;
        border: 3px dashed #3d2514;
    }

    h1{
        font: 400 114px "Alfa Slab One";
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
    }

    h2{
        font: 400 62px "Alfa Slab One";
        filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
    }
}

#main1-fries{
    max-width: 200px;
    height: 300px;
    position: absolute;
    transform: rotate(-45deg);
}

#main1-cola{
    max-width: 140px;
    height: 330px;
    position: absolute;
    right: 0;
    top: 200;
    right: 50px;
}

#main1-burger{
    max-width: 300px;
    height: 250px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.main1-imgs{
    position: relative;
    width: 500px;
}

.main1-price{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #bf2222;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 240px;

    section{
        font: 700 40px "Bebas Neue";
        text-align: center;
        color: #fff;
        background-color: #bf2222;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        border: 4px dashed #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#burger-shadow1{
    position: absolute;
    max-width: 300px;
    height: 40px;
    right: 0;
    right: 100px;
    top: 350px;
}

#burger-shadow2{
    position: absolute;
    max-width: 200px;
    height: 40px;
    right: 0;
    right: 5px;
    top: 325px;
}

/*try it*/

.try-it{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.try-it-left{
    width: 450px;
    height: 330px;
    background: url("../img/try-it-img1.png") center/cover;
    position: relative;
    
    p{
        color: #fff;
        position: absolute;
        left: 20px;
        top: 20px;
        font: 500 18px "Bebas neue";
    }

    span{
        color: #fff;
        position: absolute;
        left: 20px;
        top: 40px;
        font: 700 25px "Bebas neue";
    }
}

.try-it-right{
    width: 450px;
    height: 400px;
}

#try-it-img2{
   width: 450px;
   height: 200px;
}

#try-it-img3{
    width: 450px;
    height: 250px; 
}












/*order*/

.order{
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.order-top{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: auto;
    height: 200px;

    h3{
        font: 700 25px "Bebas Neue";
        color: #3d2514;
        background-color: #ffc045;
        padding: 10px 20px;
       
        margin: auto;
    }

    h1{
        font: 400 50px "Alfa Slab One";
        color: #3d2514;
    }

    p{
        font: 400 17px "Montserrat";
        max-width: 800px;
        color: #3d2514;
    }
}



.menu-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;

    h2{
        padding-top: 20px;
        font: 700 38px "Bebas Neue";
        color: #3d2514;
    }

    p{
        padding: 10px 0 30px 0;
        max-width: 300px;
        font: 400 17px "Montserrat";
        color: #3d2514;
    }

    button{
        font: 400 17px "Alfa Slab One";
        color: #fff;
        padding: 10px 20px;
        background-color: #bf2222;
        border: solid 1px #bf2222;
    }
}

.burger-img1{
    max-width: 200px;
    height: 160px;
    padding-right: 20px;
}

.shadow-img1{
    max-width: 300px;
    height: 50px; 
}

.order-bottom{
    display: flex;
    justify-content: space-between;
}

.big-burger-img{
    height: 190px;
    width: 240px;
}


/*events*/

.events{
    height: 500px;
    display: flex;
    align-items: center;
}

.events-card{
    height: 380px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1100px;
   
}

#event-img{
    width: 520px;
    height: 350px;
    object-fit: cover;
}

.events-text{
    width: 520px;

    h2{
        font: 700 29px "Bebas Neue";
        letter-spacing: 2px;
        color: #3d3d3d;
    }

    h1{
        font: 400 42px "Alfa Slab One";
        color: #3d2514;
        text-transform: uppercase;
    }

    p{
        font: 400 21px "Montserrat";
        color: #3d3d3d;
        line-height: 33px;
        padding-top: 30px;
    }
}

/*reservation*/

.reservation{
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reserve-burger{
    width: 170px;
    height: 170px;
}

#reserve-bottle{
    width: 90px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 200px;
}

#reserve-plate{
    width: 270px;
    height: 270px;
    position: absolute;
    right: 0px;
    top: 200px;
    overflow: hidden;
}

.reservation-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 720px;
    height: 400px;

    h3{
        font: 700 29px "Bebas Neue";
        color: #3d2514;
    }

    h1{
        font: 400 50px "Alfa Slab One";
        color: #3d2514;
    }
}

.reservation-inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
    input, a{
        width: 300px;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    

    a{
        background-color: #bf2222;
        font: 400 18px "Alfa Slab One";
        color: #fff;
        text-decoration: none;
        width: 304px;
    }
}

.reservation-left{
    position: relative;
    height: 500px;
}

.reservation-right{
    position: relative;
}

/*footer*/